# 1. 파이썬 임시/캐시 파일 (불필요한 시스템 파일)
__pycache__/
*.py[cod]
*$py.class

# 2. 가상환경 폴더 (용량이 크고 컴퓨터마다 환경이 달라서 제외)
venv/
env/
.venv/

# 3. 코드 에디터(IDE) 설정 파일
.vscode/
.idea/
.DS_Store

# 4. 크롤링 결과물 (깃허브에 엑셀 데이터가 통째로 올라가는 것을 방지)
results/
*.xlsx
